
main {
  margin:0px 40px 0px 210px; /* Same width as the sidebar + left position in px */
  /* font-size: 28px; /* Increased text to enable scrolling */ */
  padding: 0px 10px;

}
#navbar {
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    background: #eee;
    overflow-y: auto;
    padding: 8px 0;
}
#navbar ul{
  height:88%;
  overflow-y:auto;
  overflow-x:hidden;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #2196F3;
    display: block;
}

.sidenav a:hover {
    color: #064579;
}

section header {
  font-size: 25px;
}
h1 {
  margin: 0 auto;
  font-size: 30px;
}
hr {
  margin: 0 auto;
  border: black solid 2px;
  width: 90%;
}
p {
  font-size: 16px;
  line-height: 21px;
  width: 75%;
}
code {
  background-color: hsl(240, 20%, 75%);
  border-radius: 2px;
  font-size: 16px;
}
.TEArea{
  background-color: hsl(240, 20%, 75%);
  padding: 5px;
  border-radius: 10px;
}
.comment {
  color: hsl(0, 0%, 35%);
}
li {
  font-size: 17px;
  font-weight: bold;
  color: white;
  background-color: black;
  width: 25%;
  padding: 1px 4px 1px 20px;
  margin-top: 3px;
  border-radius: 3px;
}
.title {
  font-size: 18px;
  font-weight: bold;

}
.nostyle{
  background-color: white;
  list-style-type: circle;
  color: black;
  width: 100%;
}
.none{
  padding: 0px;
  background: #eee;
  margin: 0px;
  width: 100%;
  list-style-type: disc;
  color: black;
}
.sublist{
  padding-left: 10px;
}
.sublist li{
  padding: 0px;
  background: #eee;
  margin: 0px;
  width: 100%;
  /* list-style-type: disc; */
  color: black;
}
@media only screen and (max-width: 800px) {
    #navbar {
      position: absolute;
      max-height:250px;
      top: 0;
      width: 100%;
    }
    #main-doc {
      margin-top: 280px;
    }
}
